@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: #f3e5d8;
}

header {
  width: 100%;
  background-color: #255538;
  padding: 20px;
  margin-top: 5px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.send,
.copyright {
  text-align: end;
  font-family: "DM Sans", sans-serif;
  color: #ffffff;
  font-size: 15px;
  margin: 0px;
}

footer {
  background-color: #255538;
  width: 100%;
  margin-bottom: 5px;
  padding: 20px;
  display: grid;
  border-radius: 10px;
  grid-template-columns: 1fr 1fr;
}

h1 {
  font-family: "DM Serif Display", serif;
  font-weight: 200;
  text-align: center;
  font-size: 40px;
  color: #7e4333;
  padding: 20px;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.img_1 {
  width: 100%;
  padding: 20px;
}
.receta_1 {
  box-sizing: border-box;
  background-color: #ffffff;
  margin: 10px;
  border-radius: 10px;
}
.receta_2 {
  box-sizing: border-box;
  background-color: #ffffff;
  margin: 10px;
  border-radius: 10px;
}
.receta_3 {
  box-sizing: border-box;
  background-color: #ffffff;
  margin: 10px;
  border-radius: 10px;
}
.receta_4 {
  box-sizing: border-box;
  background-color: #ffffff;
  margin: 10px;
  border-radius: 10px;
}
.receta_5 {
  box-sizing: border-box;
  background-color: #ffffff;
  margin: 10px;
  border-radius: 10px;
}
.receta_6 {
  box-sizing: border-box;
  background-color: #ffffff;
  margin: 10px;
  border-radius: 10px;
}
p {
  font-family: "DM Sans", sans-serif;
}
h2 {
  font-family: "DM Serif Display", serif;
}

article a h2 {
  text-decoration: none;
  color: #7e4333;
}

article a p {
  text-decoration: none;
  color: black;
  border-buttom: none;
}

article a {
  text-decoration: none;
}
a {
  text-decoration: none;
  color: black;
}


@media (max-width: 768px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  h1 {
    font-family: "DM Serif Display", serif;
    font-weight: 150;
    font-size: 30px;
  }
  p {
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
  }
  h2 {
    font-size: 25px;
  }
}
@media (max-width: 480px) {
  main {
    display: flex;
    flex-direction: column;
  }
  article {
    margin: 0px;
  }
  h1 {
    font-weight: 150;
    font-size: 30px;
  }

  p {
    font-size: 15px;
  }
}
